.fondo { 
  text-align: center;
}

body {
  background-color:lightblue;
}

.filaCasillas {
  position: relative;
  top: 10%;
}

.tablero {
  /*Forma poligonal*/
  aspect-ratio: 1 / 0.86602540378;
  background-color: burlywood;
  clip-path: polygon(25% 0, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  height: 500px;
  /*Posición*/
  margin: 5% auto;
}

.casilla {
  /*Forma poligonal*/
    aspect-ratio: 1 / 0.86602540378;
    background-color: lightgreen;
    clip-path: polygon(25% 0, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    width: 16%;
    transform: rotate(30deg);
  border: 0px;
}